.dataColumn { 
    height: fit-content;
    padding: 1%;
    gap:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;   
    justify-content: center;
    background-color: rgba(36, 12, 145, 0.764);    
    /* max-width: 800px; */

}

.title {
    font-size: 30px;
    padding-top: 1%;
}