.formContainer {
    margin-top: 10%;
    height: 450px;
    width: 30%;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: solid 1px, black;
   
}

.loginImage {
    margin-top: 1em;
}


.title {
    text-align: center;
    font-size: 2em;
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

.prompt {
    margin-bottom: 1em;
}


.textField {
    width: 80%;
    margin: auto;
}

.forgotEmail {
    text-align: right;
    margin-right: 10%;
    margin-top: 2%;
}
.button {
     margin: 5px;
}
/* For cell phone screens */
@media only screen and (max-width: 600px) {
    .formContainer {
        width: 90%;
        margin-top: 10%;
    }
}